* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  background-color: rgb(10, 10, 10);
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'SnakeChan';
  color: #87c032;
}

html,
body {
  overflow: hidden;
}

.container {
  height: 95vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.3ch;
  text-shadow: rgb(0, 0, 0) 1px 1px 5px;
}

h1::first-letter {
  font-size: 4rem;
  color: rgb(99, 139, 39);
  letter-spacing: 0.2ch;
}

.info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(146, 199, 68);
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  left: 10px;
}

.info-container p {
  width: 100px;
}

#speed {
  width: 120px;
}

#game-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  box-shadow: rgb(70 139 28 / 16%) 10px 10px 100px;
}

#optionsForm {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #9a905d;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #87c032;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #87c032;
  }
}

#gamepad {
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 0px;
}

.arrow {
  border: solid #658e26;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  cursor: pointer;
}

.arrow.active {
  border-color: yellow;
}

.right {
  top: 35px;
  right: 0;
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  top: 35px;
  left: 0;
}

.up {
  transform: rotate(-135deg);
  top: 0;
  right: 35px;
}

.down {
  transform: rotate(45deg);
  top: 70px;
  right: 35px;
}
